<div class="container" style="margin-top: 1%;">
  <table class="table table-bordered table-hover table-responsive-md btn-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Play</th>
          <th>Download</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for s in songs %}
        <tr>
          <th class="col-md-5" scope="row">{{ s.title.title() }}</th>
          <td class="col-md-5">{{ s.artist.title() }}</td>
          <td class="col-md-5">{{ s.album.title() }}</td>
          <td class="col-md-2">
            <a href="{{ url_for('index.home', song=s.slug , **request.args) }}">
            <button id="song" type="button" class="btn btn-success" style="width:100%">
              <span class="glyphicon glyphicon-play"></span>
            </button>
            </a>
          </td>
          <td class="col-md-2">
            <a href="{{ url_for('download.download_file', slug=s.slug) }}">
              <button type="button" class="btn btn-warning" style="width:100%">
                <span class="glyphicon glyphicon-download"></span> 
              </button>
            </a>
          </td>
          <td class="col-md-2">
              <form action="/delete/{{ s.slug }}" method="post">
                <button name="foo" value="bar" type="submit" class="btn btn-danger" style="width:100%">
                  <span class="glyphicon glyphicon-remove"></span> 
                </button>
              </form>
          </td>
        </tr>
        {% else %}
        <td colspan="6" style="background: #eae5e5; color: #bbb7b7;">
          No Songs
        </td>
        {% endfor %}
        <tr>
          <td colspan="6">
            <a href={{ url_for('form.upload_file') }}>
              <button type="button" class="btn btn-primary" style="width:100%">
                  <span class="glyphicon glyphicon-upload"></span> Add
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>

